@font-face {
    font-family: 'Alexis';
    font-style: normal;
    font-weight: normal;
    src: local('Alexis'), url('../fonts/alex.woff') format('woff');
    src: url("../fonts/alexisv3.ttf") format('truetype');
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

#prematch_table, #postmatch_table {

    font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    text-align: center;
    color: white;
    font-style: bold;
    letter-spacing: 1px;
    border-width: 4px;
    border-color: white;
}

#auton_table, #endgame_table, #teleop_table {
    font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: black;
    font-style: bold;
    letter-spacing: 1px;
    border-width: 4px;
    border-color: black;
}

.button {
    font-family: arial;
    font-size: 160px;
}

#autonHeader1, #teleopHeader1, #endgameHeader1, #postmatchHeader1, #qrHeader1{
    color: black;
    border-color: white;
    border-width: 4px;
    font-size: 24px;
    font-family:Verdana;    
}
#prematchHeader1{
    color: white;
    border-color: white;
    border-width: 4px;
    font-size: 24px;
    font-family:Verdana;    
}
 #autonHeader2, #teleopHeader2, #endgameHeader2, #postmatchHeader2, #qrHeader2{
    color: black;
    border-color: white;
    border-width: 4px;
    font-size: 24px;
    font-family:Verdana;   
}
#prematchHeader2{
    color: white;
    border-color: white;
    border-width: 4px;
    font-size: 24px;
    font-family:Verdana;   
}

.field-image {
    margin: 2vw;
}

.field-image-src{
    background-position: center;
    border: 1px solid;
}

.main-panel{
    display: none;
    height: 100%;
    min-height: 100%;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    background-color: black;
    font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    text-align: justify;
}

#prematch{
    display: table;
}

#auton{
}

#teleop{
}

#endgame{
}

#postmatch{
}

#qr-code{
  text-align: center;
  color: black;
}

h1{
    font-family: Alexis;
    text-align: center;
    border-style: groove;
    border-color: white;
    border-width: 2px;
    font-size: 24px;
    padding: 10px;
    font-weight: 350;
}

#page2, #page4 {
    color: black;
}

h2{
    font-family: Alexis;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
}

.match-label{
    text-align: center;
}

.half-button-l{
    width: 48%;
    margin: 1vw;
    height: 100%;
    font: roboto;
}

.half-button-r{
    flex-grow: 1;
    height: 100%;
    width: 48%;
    margin: 1vw;
    font: roboto;
}

.half-button-container{
    display: flex;
}


#nextButton1{
    font-family: Alexis;
    font-size: 24px;
    padding: 40px 40px;
    background-color: rgb(151, 199, 240);
    text-decoration: none;
    display: inline-block;
}
#nextButton2, #nextButton3, #nextButton4, #nextButton5, #nextButton6, #nextButton7, #nextButton8, #nextButton9, #nextButton10{
    font-family: Alexis;
    font-size: 24px;
    padding: 40px 20px;
    background-color: rgb(151, 199, 240);
    color:black;
    text-decoration: none;
    display: inline-block;
}

#prevButton1, #prevButton2, #prevButton3, #prevButton4, #prevButton5, #prevButton6, #prevButton7, #prevButton8, #prevButton10{
    font-family: Alexis;
    font-size: 24px;
    padding: 40px 20px;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    display: inline-block;
}

#prevButton9{
    font-family: Alexis;
    font-size: 20px;
    padding: 20px 20px;
    background-color: lightgrey;
    text-decoration: none;
    display: inline-block;
}

.submitForm, #displayButton, #copyButton {
    font-family: Alexis;
    font-size: 20px;
    padding: 20px 20px;
    background-color: lightgrey;
    text-decoration: none;
    display: inline-block;
}

.clearForm{
    font-family: Alexis;
    font-size: 24px;
    padding: 40px 20px;
    background-color:rgb(151, 199, 240);
    text-decoration: none;
    display: inline-block;
}

.undoButton, .flipButton {
    font-family: Alexis;
    font-size: 24px;
    background-color: black;
    padding: 40px 20px;
    color: white;
    margin-left: 20px;
}


#prematch_table{
    font: Alexis;
    text-align: center;
}


h1 .odd {
    font-family: Alexis;
    text-align: center;
    color: #0AB4EC;
}

h1 .even {
    font-family: Alexis;
    text-align: center;
    color: #42B333;
}

table {
    border: 1px solid black;
    width: 100%;
}

td {
    padding: 15px 10px;
}

#minus_NetScoresAuto, #minus_NetMissesAuto, #minus_HoopScoresAuto, #minus_HoopMissesAuto, #minus_NetScoresTele, #minus_NetMissesTele, #minus_HoopScoresTele, #minus_HoopMissesTele, #minus_SharksCollectedTotal{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fa756b;
    padding: 8px 18px;
    color: white;
    border: none;
    border-radius: 4px;
}
#plus_NetScoresAuto, #plus_NetMissesAuto, #plus_HoopScoresAuto, #plus_HoopMissesAuto, #plus_NetScoresTele, #plus_NetMissesTele, #plus_HoopScoresTele, #plus_HoopMissesTele, #plus_SharksCollectedTotal{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #04AA6D;
    padding: 8px 18px;
    color: white;
    border: none;
    border-radius: 4px;
   }
#input_NetScoresAuto, #input_NetMissesAuto, #input_HoopScoresAuto, #input_HoopMissesAuto, #input_NetScoresTele, #input_NetMissesTele, #input_HoopScoresTele, #input_HoopMissesTele, #input_SharksCollectedTotal{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 8px 14px;
    color: black;
    border: none;
   }


/*
#input_EndedInStartZoneEndGame{
    font-size: 25px;
}
#input_s, #input_e, #input_m{
    font-size: 25px;
}
#input_robot,#input_l, #input_AutoLeaveStartZone, #input_r{
    font-size: 25px;
    height: 20px;
    width: 20px;
}
*/
/*
input[type=text] {
    font-size: 25px;
}
input[type=number] {
    font-size: 25px;
}
input[type=radio] {
    border: 0px;
    width: 5%;
    height: 20px;
}
input[type=checkbox] {
    height: 25px;
    width: 25px;
}
    */
.title {
    width: "50%";
    text-align: right;
}

.field {
    width: "50%";
    text-align: left;
}

#qr-table {
    text-align: center;
    color: black;
    background-color: white;
}

#data {
    font-family:'Lucida Console', 'monospace';
    text-align: justify;
}
